* {
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
  }

  .v-child{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .v-child > div {
    scroll-snap-align: center;
  }
  
  h1{
    margin: 0;
  }

  .h-sect{
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
  }

  .h-child{
    scroll-snap-align: center;
    flex: 0 0 auto;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .list{
    margin: 0;
  }

  .bg-body {
    opacity: 95%;
  }

  .story {
    height: 600px;
  }
  
  .emojinote {
    vertical-align: sub;
    font-size: 50px;
  }

  .sidebox {
    margin-top: 225px;
  }

  /* Photos styling */

  .intro-slide {
    background-image: url('/Users/laurentfintoni/Desktop/University/PROJECTS/Bologna_Walls/muri-bologna/media/BG/IMG_2728.jpeg');
    background-size: 100%;
    background-position: center;
  }

  .first-slide {
    background-image: url('/Users/laurentfintoni/Desktop/University/PROJECTS/Bologna_Walls/muri-bologna/media/BG/IMG_4401.jpeg');
    background-size: 100%;
    background-position: center;
  }

  .second-slide {
    background-image: url('/Users/laurentfintoni/Desktop/University/PROJECTS/Bologna_Walls/muri-bologna/media/BG/IMG_4247.jpeg');
    background-size: 100%;
    background-position: center;
  }

  .third-slide {
    background-image: url('/Users/laurentfintoni/Desktop/University/PROJECTS/Bologna_Walls/muri-bologna/media/BG/IMG_4560.jpeg');
    background-size: 100%;
    background-position: center;
  }

  .fourth-slide {
    background-image: url('/Users/laurentfintoni/Desktop/University/PROJECTS/Bologna_Walls/muri-bologna/media/BG/IMG_4577.jpeg');
    background-size: 100%;
    background-position: center;
  }

  .fifth-slide {
    background-image: url('/Users/laurentfintoni/Desktop/University/PROJECTS/Bologna_Walls/muri-bologna/media/BG/IMG_5165.jpeg');
    background-size: 100%;
    background-position: center;
  }

  .sixth-slide {
    background-image: url('/Users/laurentfintoni/Desktop/University/PROJECTS/Bologna_Walls/muri-bologna/media/BG/IMG_4784.jpeg');
    background-size: 100%;
    background-position: center;
  }